In [2]:
import sqlite3 as sq
import pandas as pd

In [61]:
with sq.connect('data.db') as con:
    cur = con.cursor()
    
    ### Створення БД
    # cur.execute("""CREATE DATABASE IF NOT EXISTS dbName""")
    
    ### Створення таблиці
    cur.execute("""CREATE TABLE IF NOT EXISTS students(
    id INT PRIMARY KEY AUTOINCREMENT,
    name TEXT not null,
    course INT CHECK(0 >= course >= 6), 
    shh int);""")
    
    ### Внесення нових даних у таблицю
    cur.execute("""INSERT INTO students (,name, course, shh) VALUES ('Mike', 6, 1770);""")
    
    ### Видалення об'єктів таблиці (рядків) при певеній умові
    # cur.execute("""DELETE FROM students WHERE id !=1;""")
    
    cur.execute("""SELECT * from students;""")
    
    print(cur.fetchall())

[]